services:
  - type: web
    name: details-mobile-back
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: movil_facturacion_bd
          property: connectionString

